* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0; /* Set your desired background color */
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
